html,body {
  padding:0;
  margin:0;
}

header {
  display: flex;
  background-color: black;
  color: white;
  height: 10%;
  width: 100%;
  flex-direction: row;
  position: sticky;
  top: 0;
}

header h1 {
  display: flex;
  position: relative;
  left: 2%;
  justify-content: center;
  align-items: center;
}

header nav{
  display: flex;
  flex-direction: row;
  position: relative;
  left: 5%;
  width: 80%;

}

header nav a {
  margin: 2%;
}

header nav form {
  position: relative;
  left: 80%;
  top: 50%;
}

.movieImages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movieImages img{
  height: 700px;
  margin: 50px;
}

